* {
 font-style: bold;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 margin: 0;
 padding: 0;
}
  
  /* The navigation bar */
.navbar {
  overflow: hidden;
  position: relative;
  width: 100%; 
  background-color: rgb(19, 61, 19);
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: rgb(89, 202, 89);
}

body {
  background: linear-gradient(to bottom, #082307 0%, #919491 100%), rgb(216, 220, 217);
  width: 100%;
  height: 100vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

/* Columns that sit next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  max-width: 100%;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  margin: 10px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.container img {
  display: block;
  width: 100%;
  height: auto;
}
.text-overlay {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.text-overlay h1,
.text-overlay p {
  margin: 0;
  padding: 0;
}

.text-overlay.bottom-right {
  bottom: 0;
  right: 0;
  left: auto;
}

.text-overlay.top-left {
  top: 0;
  left: 0;
  bottom: auto;
}

.text-overlay.top-right {
  top: 0;
  right: 0;
  left: auto;
  bottom: auto;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.socialcontainer {
  display: block;
}

.fa {
  margin-right: 10px;
}

#facebook, #instagram, #twitter, #github {
  font-size: 8em;
  padding: 10px 20px;
  margin: 0 40px;
  background:rgb(89, 202, 89);
  color: white;
  border-radius: 30px;
  box-shadow: 2px 2px 2px #919491,
              10px 10px 12px #919491,
              inset 2px 2px 10px #919491,
              inset 2px 2px 10px #919491,
              inset 2px 2px 10px #919491,
              inset 2px 2px 10px #919491,
  text-shadow: 0px 0px 50px #082307,
               0px 0px 100px #082307,
               0px 0px 150px #082307,            
               0px 0px 200px #082307,
  animation: animate 3s linear infinite;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

#twitter {
  animation-delay: 0.3s,
}

#facebook {
  animation-delay: 0.3s,
}

#instagram {
  animation-delay: 0.3s,
}

#github {
  animation-delay: 0.3s,
}

